* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #2C3E50;
  }
  
  .container {
    display: grid;
    grid-template-columns: 175px auto 10px auto;
    grid-template-rows: auto auto auto auto;
  }
  
  .header {
    grid-area: 1 / 1 / 2 / 4;
    margin-top: 0px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    text-align: center;
  }

  
  .product-image {
    background-color: #ddd;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 16px;
    color: #666;
    margin-right: 20px;
  }
  
  .cart-button {
    background-color: #046298;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s;
    margin-left: 20px
  }
  
  .cart-button:hover {
    background-color: #71add8;
  }
  

  .footer {
    grid-area: 4 / 1 / 5 / 4; 
    background-color: #0000FF;
    color: #fff;
    padding: 1em;
    padding-bottom: 100px;
    margin-bottom: 0px;
    text-align: center;
    clear: both;
    margin-top: 40px;
  }