* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #2C3E50;
  }
  
  
  
  container {
    display: grid;
    grid-template-areas:
    "title title title"
    "nav nav nav"
    "contact contact contact"
    "catalogbutton catalogbutton catalogbutton"
    "footer footer footer";
    }

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: none;
    margin: 30px;
    margin-right: 40px;
    padding-bottom: 00px;
    background-color: hsl(0, 0%, 19%);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 0px;
}

.form-group input,
.form-group textarea {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    margin: 7px;
    width: 20%;
    align-self: center;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}
