* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #8edeea;
    background-color: #7ca4cb;
  }
  
  


.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin: 30px;
    margin-right: 40px;
    padding-bottom: 00px;
    background-color: hsl(0, 0%, 19%);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;

}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 0px;
}

.form-group input,
.form-group textarea {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    margin: 7px;
    width: 20%;
    align-self: center;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.title {
    align-self: self-start;
}

.flex-group {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .flex-group {
      flex-direction: column; /* stack navigation items vertically */
    }
  }

.flex-group .form-group {
    flex: 1;
    margin: 10px;
    
}
.form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.radio-group {
    text-align: center;
    margin-bottom: -5px;
}

.radio-group label {
    margin-right: 20px;
}

.product-type {
    text-align: center;
    margin-bottom: 20px;
}

.form-group select {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

.form-group select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.submit-button {
    margin: 7px;
    width: 30%;
    align-self: center;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}


.rg {
    --background: #ffffff;
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 20px;
    --width: 100px;    
    --height: 140px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    padding: 30px 45px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
    label {
      cursor: pointer;
    }
    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      height: var(--radio-size);
      width: var(--radio-size);
      outline: none;
      margin: 0;
      cursor: pointer;
      border: 2px solid var(--radio);
      background: transparent;
      border-radius: 50%;
      display: grid;
      justify-self: end;
      justify-items: center;
      align-items: center;
      overflow: hidden;
      transition: border .5s ease;
      &::before,
      &::after {
        content: "";
        display: flex;
        justify-self: center;
        border-radius: 50%;
      }
      &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--background);
        z-index: 1;
        opacity: var(--opacity, 1);
      }
      &::after {
        position: relative;
        width: calc(100% /2);
        height: calc(100% /2);
        background: var(--radio-checked);
        top: var(--y, 100%);
        transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
      }
      &:checked {
        --radio: var(--radio-checked);
        &::after {
          --y: 0%;
          animation: stretch-animate .3s ease-out .17s;
        }
        &::before {
          --opacity: 0;
        }
        ~ input[type="radio"] {
          &::after {
            --y: -100%;
          }
        }
      }
      &:not(:checked) {
        &::before {
          --opacity: 1;
          transition: opacity 0s linear .5s;
        }
      }
    }
  }
  
  @keyframes stretch-animate {
    0% {
      transform: scale(1,1)
    }
    28% {
      transform: scale(1.15,.85)
    }
    50% {
      transform: scale(.9,1.1)
    }
    100% {
      transform: scale(1,1)
    }
  }
