* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #8edeea;
    background-color: #7ca4cb;
  }
  
  


.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin: 30px;
    margin-right: 40px;
    padding-bottom: 00px;
    background-color: hsl(0, 0%, 19%);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;

}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 0px;
}

.form-group input,
.form-group textarea {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    margin: 7px;
    width: 20%;
    align-self: center;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.title {
    align-self: self-start;
}

.flex-group {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .flex-group {
      flex-direction: column; /* stack navigation items vertically */
    }
  }

.flex-group .form-group {
    flex: 1;
    margin: 10px;
    
}
.form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.radio-group {
    text-align: center;
    margin-bottom: -5px;
}

.radio-group label {
    margin-right: 20px;
}

.product-type {
    text-align: center;
    margin-bottom: 20px;
}

.form-group select {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

.form-group select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
