@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #5DADE2;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: sticky;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}


.title {
  font-size: 34px;
  margin-left: 20%;
  margin-bottom: 10px;
  grid-area: title;
  flex: 1;
  text-align: center;
}




.navigation {
  grid-area: nav;
  background-color: #5DADE2;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  align-self: center;
  max-width: 1600px; /* added */
  padding-bottom: 10px;
}

.navigation ul {

  display: flex;
  flex-wrap: wrap; /* added */
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navigation li {
  margin-right: 10px; /* reduced from 20px */
  
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}


@media (max-width: 1300px) {
  .navigation ul {
    flex-direction: column; /* stack navigation items vertically */
  }
  .navigation li {
    margin-right: 0; /* remove margin on smaller screens */
    padding-left: 15px; /* reduce padding on smaller screens */
  }
  .navlink {
    padding: 10px;
    ; /* reduce padding on smaller screens */
  }
}
/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 450px) {
  
  .navigation ul {
    flex-direction: column; /* stack navigation items vertically */
  }
  .navigation li {
    margin-right: 0; /* remove margin on smaller screens */
    padding-left: 15px; /* reduce padding on smaller screens */
  }
  .navlink {
    padding: 10px; /* reduce padding on smaller screens */
  }
}

.navlink {
  padding: 5px;
}

.navlink:hover {
  width: 110%;
  border: 1px solid white;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navigation li {
  margin-right: 20px;
  justify-content: space-around; 
    align-items: center;
    padding-left: 30px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
}


@media (max-width: 768px) {
  .navigation li {
    flex-basis: calc(33.33% - 20px);
    margin-right: 10px;
  }
  .title {
    margin-left: 0%;
  }
}

.footer {
  grid-area: footer;
  background-color: #04719c;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
  margin-top: 40px;
}

.footer p {
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

.navigation ul li a {
  white-space: nowrap;
}