.header {
  background-color: #5DADE2;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 34px;
  margin-left: 2cm;
  margin-bottom: 10px;
  grid-area: title;
  flex: 1;
  text-align: center;
}

.menu-button {
  grid-area: title;
  background-color: #5DADE2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-left: 10px;
  width: 20px;
  padding-right: 30px;
}

.menu-button:hover {
  background-color: #adadad;
}





.navigation {
  grid-area: nav;
  background-color: #5DADE2; 
  padding: 10px;
  justify-content: space-around; /* Distribute the header elements horizontally */
  align-items: center;
  


}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around; /* Distribute the header elements horizontally */
  align-items: center;
}

.navigation li {
  margin-right: 20px;
  justify-content: space-around; /* Distribute the header elements horizontally */
    align-items: center;
    padding-left: 30px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
}

/* Make the navigation menu responsive */
@media (max-width: 768px) {
  .navigation li {
    flex-basis: calc(33.33% - 20px);
    margin-right: 10px;
  }
}